#portlets img {
	width:28px;
	height:28px;

}

#areacode {
	width:80px;

}
h2 {
float:right;
	font-size:14px;
}
#phonenumber {
	width:80px;

}

#extension {
	width:80px;
}

.success {
	float:left;
	display:inline;
}

.program-form {
	background: #ecf0f1;
	width: 400px;
	padding:20px;
}


.icon-trash {
	float: right;
	opacity: 0.7;
}

.icon-trash:hover{
	opacity:1;
}



