
/*
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License
*/

body {
	margin: 0;
	padding: 0;
	background: #961D46 url(../images/background.jpg) repeat;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 16px;
	color: #8A8985;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #7D7764;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.8em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #CA4C44;
}

a:hover { 
}

#wrapper {
	overflow: hidden;
	background-color: #FFFFFF;
}


/* Header */

#header-wrapper {
	overflow: hidden;
	height: 600px;
	background: url(../images/background.jpg) repeat-x left top;
}

#about-us-header {
	overflow: hidden;
	height: 225px;
	background: url(../images/background.jpg) repeat-x left top;
}

#about-us-header h2 {
	margin-left: 180px;
}

#header {
	background: black;
	overflow: hidden;
	width: 960px;
	height: 170px;
	margin: 0 auto;
	padding: 0px 20px;
}

/* Logo */

#logo {
	float: left;
	width: 200px;
	margin: 0;
	padding: 0;
	color: #000000;
}

#logo img {
	width: 160px;
}


#logo h1 {
	letter-spacing: -2px;
	font-size: 3.8em;
}

#logo p {
	margin-top: -10px;
	padding: 0px 0px 0px 5px;
	font-size: 20px;
	color: #FFFFFF;
} 

#logo p a {
	color: #FFFFFF;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #FFFFFF;
}

/* Splash */

#splash {
	overflow: hidden;
	padding: 0px 0px 50px 0px;
	border-bottom: 1px dashed #E7E2DC;
	letter-spacing: -3px;
	text-align: center;
	font-size: 48px;
}

#splash span {
	color: #313131;
}



/* Search */

#search {
	float: right;
	width: 280px;
	height: 60px;
	padding: 20px 0px 0px 0px;
}

#search form {
	height: 41px;
	margin: 0;
	padding: 10px 0 0 20px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 170px;
	padding: 6px 5px 2px 5px;
	border: 1px solid #DEDEDE;
	background: #FFFFFF;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #5D781D;
}

#search-submit {
	width: 50px;
	height: 22px;
	border: none;
	background: #B9B9B9;
	color: #000000;
}

/* Menu */

#menu {
	float: left;
	width: 700px;
	height: 90px;
	margin: 0 auto;
	padding: 0;
}

#menu ul {
	float: right;
	margin: 0;
	padding: 85px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	margin-right: 1px;
	padding: 10px 0px 15px 30px;
	text-decoration: none;
	text-align: center;
	font-size: 25px;
	font-weight: 300;
	color: #CE92A6;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
	color: #FFFFFF;
}

#menu .current_page_item a {
}

/* Page */

#page {
	padding: 30px 0px 0px 0px;
}

/* Content */

#content {
	float: left;
	width: 580px;
	padding: 0px 40px 0px 0px;
	background: url(../images/img05.jpg) no-repeat right 40px;
}

#content-about-us {
	float: left;
	width: 780px;
	padding: 0px 40px 0px 0px;
	background: url(../images/img05.jpg) no-repeat right 40px;

}

.post {
	background: #ECECEC;
	overflow: hidden;
	border-radius: 5px;
	padding: 10px;
}

.post-about-us {
	overflow: hidden;
	padding: 20px;
}

.post-about-us h2 {
	color: #CA4C44;
}
.post-about-us .date {
	font-style: italic;
}

.post .title {
	padding: 0px 0px 30px 0px;
	letter-spacing: -3px;
}

.post .title a {
	border: none;
	color: #7D7764;
}

.post .meta {
	margin-bottom: 30px;
	padding: 0px;
	text-align: left;
	font-size: 16px;
}

.post .meta .date {
	float: left;
}

.post .entry .date {
	font-style: italic;
}

.post .entry .entry-title {
	font-size: 26px;
}

.post .meta .posted {
	float: right;
}

.post .meta a {
}

.post .entry {
	padding: 0px 0px 20px 0px;
	padding-bottom: 20px;
	text-align: justify;
}

.links {
	padding-top: 20px;
	margin-bottom: 30px;
}

.more {
	display: block;
	float: left;
	width: 88px;
	height: 25px;
	padding: 2px 0px 0px 0px;
	margin-right: 10px;
	background: url(../images/img08.jpg) no-repeat left top;
	text-align: center;
	color: #FFFFFF;
}

.comments {
	display: block;
	float: left;
	width: 88px;
	height: 25px;
	padding: 2px 0px 0px 0px;
	background: url(../images/img08.jpg) no-repeat left top;
	text-align: center;
	color: #FFFFFF;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 320px;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	color: #787878;
}

#sidebar h2 {
	padding: 0px 0px 30px 0px;
	letter-spacing: -3px;
}

#sidebar a {
	border: none;
}

#sidebar a:hover {
	text-decoration: underline;
}

#sidebar i {
	font-style: italic;
}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Three Column Footer Content */

#footer-content {
	background: url(../images/img04.png) no-repeat center top;
	color: #E2B8C6;
}

#footer-bg {
	overflow: hidden;
	padding: 70px 0px;
}

#footer-content h2 {
	margin: 0px;
	padding: 0px 0px 20px 0px;
	letter-spacing: -2px;
	text-shadow: 1px 2px 0px #861F40;
	font-size: 36px;
	color: #FFFFFF;
}

#column1 {
	float: left;
	width: 320px;
	margin-right: 20px;
}

#column2 {
	float: left;
	width: 320px;
}

#column3 {
	float: left;
	width: 320px;
	margin-left: 120px;
}

/* Footer */

#footer {
	height: 100px;
	margin: 0 auto;
	padding: 50px 0px 0px 0px;
	background: url(../images/img04.png) no-repeat center top;
}

#footer p {
	margin: 0;
	padding-top: 10px;
	line-height: normal;
	text-align: center;
	color: #C76485;
}

#footer a {
	color: #C76485;
}

#marketing {
	overflow: hidden;
	margin-bottom: 30px;
	padding: 20px 0px 10px 0px;
	border-top: 1px solid #E3E3E3;
	border-bottom: 1px solid #E3E3E3;
}

#marketing .text1 {
	float: left;
	margin: 0px;
	padding: 0px;
	letter-spacing: -2px;
	font-size: 34px;
	color: #345E9B;
}

#marketing .text2 {
	float: right;
}

#marketing .text2 a {
	display: block;
	width: 252px;
	height: 38px;
	padding: 15px 0px 0px 0px;
	background: url(../images/img07.jpg) no-repeat left top;
	letter-spacing: -2px;
	text-align: center;
	font-size: 30px;
	color: #FFFFFF;
}

.box1 {
	overflow: hidden;
	height: 300px;
	background: url(../images/img04.jpg) no-repeat center bottom;
}

.list-style1 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.list-style1 li {
	padding: 7px 0px 7px 0px;
	border-top: 1px dashed #E7E2DC;
}

.list-style1 .first {
	padding-top: 0px;
	border-top: none;
}


.list-style2 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.list-style2 li {
	padding: 7px 0px 7px 0px;
}

.list-style2 a {
	color: #E2B8C6;
}

.list-style2 a:hover {
	color: #C76485;
}

.list-style2 .first {
	padding-top: 0px;
	background: none;
}



/*Form*/


/* #### Dark Matter #### */
.form {
    width: 320px;
    text-shadow: 1px 1px 1px #444;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.form h1 {
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom: 1px solid #444;
    margin: -10px -30px 30px -30px;
}
.form h1>span {
    display: block;
    font-size: 11px;
}
.form label {
    display: block;
    margin: 0px 0px 5px;
}
.form label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    font-weight: bold;
}
.form input[type="text"], .dark-matter input[type="email"], .dark-matter textarea, .dark-matter select {
    border: none;
    color: #525252;
    height: 25px;
    line-height:15px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 5px 0px 5px 5px;
    width: 70%;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    background: #DFDFDF;
}
.form select {
    background: #DFDFDF url('down-arrow.png') no-repeat right;
    background: #DFDFDF url('down-arrow.png') no-repeat right;
    appearance:none;
    -webkit-appearance:none; 
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 70%;
    height: 35px;
    color: #525252;
    line-height: 25px;
}
.form textarea{
    height:100px;
    padding: 5px 0px 0px 5px;
    width: 70%;
}
.form .button {
    background: #FFCC02;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #585858;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    text-shadow: 1px 1px 1px #FFE477;
    font-weight: bold;
    box-shadow: 1px 1px 1px #3D3D3D;
    -webkit-box-shadow:1px 1px 1px #3D3D3D;
    -moz-box-shadow:1px 1px 1px #3D3D3D;
}

.form .button:hover {
    color: #333;
    background-color: #EBEBEB;
}


.submit-button {
	background-color:#CA4C44;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #CA4C44;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	padding:7px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.submit-button:hover {
	background-color:#A23D36;
	border-color:#A23D36;
}
.submit-button:active {
	position:relative;
	top:1px;
}


/*************
Contact Us Form
*************/

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

html{    background:url(http://thekitemap.com/images/feedback-img.jpg) no-repeat;
  background-size: cover;
  height:100%;
}

#feedback-page{
	text-align:center;
}

#contact-main{
	width:100%;
	float:left;
	padding-top:0px;
}

#contact-div {
	background-color:rgba(72,72,72,0.4);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 450px;
	float: left;
	left: 50%;
  margin-top:30px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.feedback-input {
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#name{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#name:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#comment{
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button-blue{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #3498db;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: #0493bd;
}
	
.submit:hover {
	color: #3498db;
}
	
.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}


/****************
Contact Icons
*****************/

#contacts-container {
	margin-top: 100px;
}

.contact-icon img {
	width: 20px;
	height: 20px;
}

.contact-icon p {
	float: left;
}

